.display-grid {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.display-grid .display-grid-item {
    display: flex;
    justify-content: center;
    align-self: stretch;
}

.display-grid .display-grid-item:first-of-type:has(.biography) {
    width: 100%;
    max-width: 100%;
}

.display-grid .display-grid-item:first-of-type:has(.biography) .biography {
    max-width: 500px;
}

.display-grid .display-grid-item:first-of-type:has(.biography) .biography .biography-image {
    object-position: top;
}

.display-grid.identical {
    max-width: 80%;
}

.display-grid.identical .display-grid-item {
    align-self: stretch;
    align-items: unset;
    min-width: min(100vw, 300px);
    /* flex: 1 1 0px; */

    flex: 0 0 auto;
    max-width: 45%;
}

.display-grid .display-grid-item:first-of-type:has(.article-link) {
    width: 100%;
    max-width: 100%;
    flex: unset;
}

.display-grid .display-grid-item:first-of-type:has(.article-link) .article-link {
    max-width: 700px;
}

@media screen and (max-width: 500px) {
    .display-grid.identical {
        max-width: 100%;
    }
}