.isopod-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: relative;
}

.isopod-stats span {
    font-family: system-ui, sans-serif;
}

.isopod-stats svg {
    width: 2rem;
    height: 2rem;
    background-color: hsl(var(--secondaryHue), var(--secondarySaturation), 85%);
    border-radius: 100%;
    padding: 0.3rem;
    -webkit-filter: drop-shadow(0.25rem 0.25rem 0.1rem hsla(var(--textHue), var(--textSaturation), var(--textLightness), 0.5));
    filter: drop-shadow(0.25rem 0.25rem 0.1rem hsla(var(--textHue), var(--textSaturation), var(--textLightness), 0.5));
}

.isopod-stats ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: hsl(var(--primaryHue), var(--primarySaturation), 35%);
    border: 0.15rem solid hsl(var(--primaryHue), var(--primarySaturation), 35%);
}


.isopod-stats ul li:first-child {
    border-top-left-radius: calc(var(--border-radius) - 0.15rem);
    border-bottom-left-radius: calc(var(--border-radius) - 0.15rem);
    overflow: hidden;
}

.isopod-stats ul li:last-child {
    border-top-right-radius: calc(var(--border-radius) - 0.15rem);
    border-bottom-right-radius: calc(var(--border-radius) - 0.15rem);
    overflow: hidden;
}

.isopod-stats li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    align-items: stretch;
    height: 100%;
    border: 0.15rem solid hsl(var(--primaryHue), var(--primarySaturation), 35%);
    width: fit-content;
}

@media screen and (max-width: 939px) {
    .isopod-stats ul {
        display: flex;
        flex-direction: column;
    }

    .isopod-stats li {
        width: 100%;
    }

    .isopod-stats ul li:first-child {
        border-radius: 0;
        border-top-left-radius: calc(var(--border-radius) - 0.15rem);
        border-top-right-radius: calc(var(--border-radius) - 0.15rem);
        overflow: hidden;
    }
    
    .isopod-stats ul li:last-child {
        border-radius: 0;
        border-bottom-left-radius: calc(var(--border-radius) - 0.15rem);
        border-bottom-right-radius: calc(var(--border-radius) - 0.15rem);
        overflow: hidden;
    }
}

.isopod-stats li .stat-label {
    background-color: var(--primary);
    display: grid;
    place-items: center;
    padding: 0.5rem 3rem;
    width: 100%;
}

.isopod-stats li .stat-value {
    background-color: var(--secondary);
    width: 100%;
    display: grid;
    place-items: center;
    padding: 0.5rem;
    text-transform: capitalize;
    gap: 0.25rem;
    position: relative;
    min-height: 76px;
}

.isopod-stats svg.small {
    padding: 0.6rem;
}

.isopod-stats svg.medium {
    padding: 0.4rem;
}

.isopod-stats svg.large {
    padding: 0.2rem;
}

.isopod-stats svg.average-price:nth-child(2) {
    position: absolute;
    top: 0;
    background-color: transparent;
    transform: translateX(0.5rem);
}

.color-icon-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: fit-content;
}

.color-icon-wrapper svg {
    outline: 1px solid hsl(var(--textHue), var(--textSaturation), var(--textLightness));;
    outline-offset: -6px;
}

.isopod-stats li .stat-value.color-list {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
    gap: 1rem;
}

.color.multicolor {
    fill: url(#multicolor-gradient);
}

.no-display {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 0px !important;
    height: 0px !important;
    padding: 0 !important;
    overflow: hidden;
}