.carousel {
    position: relative;
    width: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-block: 2rem;
    overflow: visible;
}

@media screen and (min-width: 1036px) {
    .carousel {
        width: 100%;
    }
}

.carousel-wrapper {
    display: flex;
    gap: 1rem;
    transition: transform 0.5s ease-in-out;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.carousel-wrapper::before {
    /* content: ''; */
    position: absolute;
    width: 45%;
    z-index: 5;
    left: -1rem;
    height: 100%;
    background: linear-gradient(90deg, var(--background) 0%, transparent 100%);
    pointer-events: none;
}

.carousel-wrapper::after {
    /* content: ''; */
    position: absolute;
    width: 45%;
    z-index: 3;
    right: -1rem;
    height: 100%;
    background: linear-gradient(-90deg, var(--background) 0%, transparent 100%);
    pointer-events: none;
}
  
.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
}
  
.carousel-item {
    flex: 1 1 0;
    width: 0;
    padding-inline: 2rem;
    border-radius: var(--border-radius);
    padding-block: 0.5rem 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
}

.carousel-item.article-link .article-link-content .article-link-image {
    height: 100%;
    aspect-ratio: 1;
}

.carousel-item.article-link .article-link-title {
    font-size: var(--medium);
    text-align: center !important;
}

.carousel-item:hover, .carousel-item:focus-visible {
    transform: scale(1.1);
    z-index: 10;
    opacity: 1;
}

.carousel-item.article-link:hover , .carousel-item.article-link:focus-visible  {
    /* padding: 1rem !important; */
}

.carousel-item:hover p {
    --text: hsl(var(--textHue), var(--textSaturation), var(--textLightness));
    color: var(--text);
}

.carousel-item p {
    text-align: center;
}
  
.carousel-item.active {
    z-index: 3;
    scale: 1.1;
    opacity: 1;
}
  
.carousel-item img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: var(--border-radius);
    object-fit: cover;
    max-width: 400px;
}
  
.prev, .next {
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    display: grid;
    place-items: center;
    padding: 0;
    z-index: 2;
    transform: translateY(-0.75rem);
    margin: 1rem;
    border-radius: 100%;
    background-color: var(--text);
}

.prev:hover, .next:hover, .prev:focus-visible, .next:focus-visible {
    transform: scale(1.1) translateY(-0.75rem);
    background-color: var(--text);
    -webkit-box-shadow: 0px 0px 10px 0px var(--grayed); 
    box-shadow: 0px 0px 10px 0px var(--grayed);
}

.prev:focus-visible path , .next:focus-visible  path {
    fill: var(--text);
}

.prev svg, .next svg {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    padding: 1rem;
}

.prev svg path, .next svg  path {
    fill: var(--background);
}
  
.prev {
    left: 5%;
    top: 22.5%;
}
  
.next {
    right: 5%;
    top: 22.5%;
}

@media screen and (max-width: 1035px) {
    .next {
        right: 27.5%;
        top: 30%;
    }

    .prev {
        left: 27.5%;
        top: 30%;
    }
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-block: 3rem 1rem;
}
  
.dot {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    cursor: pointer;
}

.dot svg path {
    fill: var(--grayed)
}
  
.dot.active svg path {
    fill: var(--text)
}


@media screen and (max-width: 1000px) {
    .carousel-item {
        padding-inline: 0.5rem;
    }

    .prev, .next {
        width: 3rem;
        height: 3rem;
        transform: translateY(-2.25rem);
    }

    .prev:hover, .next:hover, .prev:focus-visible, .next:focus-visible {
        transform: scale(1.1) translateY(-2.25rem);
    }

    .prev svg, .next svg {
        padding: 0.5rem;
    }

    .carousel-wrapper::before {
        width: 12.5%;
    }
    
    .carousel-wrapper::after {
        width: 12.5%;
    }
      
    .prev {
        left: 27.5%;
        top: 37.5%;
    }
      
    .next {
        right: 27.5%;
        top: 37.5%;
    }
      
}

@media screen and (max-width: 750px) {
    .carousel {
        width: 200%;
    }

    .carousel-wrapper::before {
        width: 50%;
    }

    .carousel-wrapper::after {
        width: 50%;
    }

    .prev, .next {
        margin: 0rem;
    }

    .prev {
        left: 27.5%;
        top: 37.5%;
    }
      
    .next {
        right: 27.5%;
        top: 37.5%;
    }
}

@media screen and (max-width: 400px) {
    .prev, .next {
        width: 2rem;
        height: 2rem;
        top: 37.5%;
    }

    .prev {
        left: 32.5%;
    }
      
    .next {
        right: 32.5%;
    }

    .carousel-item.article-link .article-link-title {
        font-size: var(--small);
    }
}