.navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    outline: 2px solid transparent;
    max-width: 100%;
    z-index: 100;
    --text: hsl(var(--backgroundHue), var(--backgroundSaturation), var(--backgroundLightness));
    --fontScale: 1;
    color: var(--text);
}

.navbar .site-name {
    padding: 0.25rem;
    padding-right: 0.75rem;
}

.navbar .site-name span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25ch;
    text-shadow: 0.25rem 0.25rem 0.25rem hsl(var(--textHue), var(--textSaturation), var(--textLightness));
}

.navbar .site-name span span:first-child {
    height: 2.5rem;
    width: 2.5rem;
    display: block;
    rotate: 90deg;
}

@media screen and (max-width: 1000px) {
    .navbar {
        padding: 0;
        gap: 0.25rem;
        justify-content: center;
        flex-direction: column;
    }

    .navbar .site-name {
        padding: 0.1rem;
        padding-right: 0.5rem;
    }

    .navbar .site-name h2 {
        font-size: var(--extra-extra-large);
    }

    .navbar .site-name span span:first-child {
        height: 1.75rem;
        width: 1.75rem;
    }

    .navbar .nav-list {
        gap: 0.5rem !important;
        justify-content: space-between !important;
    }

    .navbar .nav-list .nav-item > *{
        font-size: var(--medium) !important;
        padding: 0.1rem !important;
    }

    .navbar .nav-list .nav-item a {
        padding: 0rem !important;
    }

    .navbar .nav-list .nav-item .dropdown-menu .dropdown-option {
        font-size: var(--small) !important;
        padding: 0rem;
    }
}

.navbar .nav-list {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.navbar .nav-list .nav-item > * {
    font-size: var(--large);
    position: relative;
    height: 100%;
    display: block;
    background-color: transparent;
    border-radius: 100rem !important;
}

.navbar .nav-list .nav-item .nav-link {
    padding: 0.5rem;
    font-weight: 500;
    text-shadow: 0.25rem 0.25rem 0.25rem hsl(var(--textHue), var(--textSaturation), var(--textLightness));
}

@media screen and (max-width: 400px) {
    .navbar .nav-list .nav-item .nav-link, .navbar .nav-list .nav-item .dropdown {
        padding: 0.5rem;
        font-weight: 100 !important;
        --fontScale: 0.7;
    }

    .navbar .nav-list .nav-item .dropdown svg.dropdown-caret {
        height: calc(0.6rem * var(--fontScale)) !important;
        width: calc(0.6rem * var(--fontScale)) !important;
    }
}

.navbar.scrolled {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background: hsl(0, 0%, 0%, 0.5);
    --fontScale: 0.65;
}

.navbar .site-name h2 {
    font-size: calc(var(--extra-extra-extra-large) * var(--fontScale));
}

.navbar .site-name span span:first-child {
    height: calc(2.5rem * var(--fontScale));
    width: calc(2.5rem * var(--fontScale));
}

.navbar .nav-list .nav-item .nav-link {
    font-size: calc(var(--large) * var(--fontScale)) !important;
}

.navbar .nav-list .nav-item .dropdown{
    font-size: calc(var(--large) * var(--fontScale));
}

.navbar .nav-list .nav-item .dropdown .dropdown-caret{
    height: calc(0.75rem * var(--fontScale)) !important;
    width: calc(0.75rem * var(--fontScale)) !important;
}

.navbar .nav-list .nav-item .dropdown .dropdown-option {
    font-size: calc(var(--medium) * var(--fontScale));
}

.navbar .nav-list .nav-item .dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5ch;
    cursor: pointer;
    padding: 0.5rem;
    font-weight: 500;
}

.navbar .nav-list .nav-item .dropdown .dropdown-caret {
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
    overflow: hidden;
}

.navbar .nav-list .nav-item .dropdown.opened {
    --text: hsl(var(--backgroundHue), var(--backgroundSaturation), var(--backgroundLightness));
    --background: hsl(var(--accentHue), var(--accentSaturation), var(--accentLightness));
    background-color: var(--background);
    color: var(--text);
}

.navbar .nav-list .nav-item .dropdown.opened .dropdown-caret {
    transform: rotate(180deg);
}

.navbar .nav-list .nav-item .dropdown .dropdown-menu {
    position: absolute;
    top: 65%;
    font-weight: inherit;
    background-color: var(--accent);
    font-size: var(--medium);
    z-index: -1;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    max-height: 0%;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.navbar .nav-list .nav-item .dropdown.opened .dropdown-menu {
    max-height: 500%;
    padding: 0.25rem;
    padding-top: 1.5rem;
    outline: 2px solid var(--accent);
}

.navbar .nav-list .nav-item .dropdown .dropdown-menu .dropdown-option {
    background-color: transparent;
    border-radius: 100rem !important;
}

.navbar .nav-list .nav-item .dropdown ul.dropdown-menu button.dropdown-option:hover,
.navbar .nav-list .nav-item .dropdown ul.dropdown-menu button.dropdown-option:focus-visible {
    --text: hsl(var(--accentHue), var(--accentSaturation), var(--accentLightness));
    --background: hsl(var(--backgroundHue), var(--backgroundSaturation), var(--backgroundLightness));
    color: var(--text);
    background: var(--background);
}

.navbar .nav-list .nav-item .dropdown .dropdown-menu .dropdown-option:focus-visible {
    outline: 0.3rem solid var(--background) !important;
}