.collaborate {
    width: 100%;
    height: fit-content;
    display: grid;
    background-color: var(--background);
    color: var(--text);

    place-items: center;
    align-content: space-between;

    position: relative;

    max-width: 100vw;
    overflow-x: hidden;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    display: grid;
    place-items: center;
    z-index: 3;
    max-width: 100%;
}

.main {
    width: 100vw;
    max-width: 100vw;
    min-height: 100svh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
}

.main a h4, .main p a, .main h3 a {
    text-decoration: underline currentColor !important;
    -webkit-text-decoration: underline currentColor !important;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 400px) {
    .main .hero-text h1 {
        font-size: var(--extra-extra-extra-large);
    }

    .main .hero-text p {
        font-size: var(--large);
    }
}

@media screen and (min-width: 500px) {
    .main .hero-text h1 {
        font-size: var(--extra-extra-extra-extra-large);
    }
}