.page-section {
    display: flex;
    /* grid-template-columns: 1fr; */
    /* place-items: center; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    max-width: 100vw;
    text-align: center;
}

.page-section h3 {
    --fontScale: 0.65;
    font-weight: 100;
    font-size: calc(var(--extra-extra-large)* var(--fontScale));
    padding-bottom: 0.5rem;
}

/* .page-section h2 {
    position: relative;
}

.page-section h2::after {
    content: '';
    position: absolute;
    inset: 0;
    height: 30rem;
    width: 12rem;
    margin-inline: auto;
    background-color: red;
} */

.page-section p {
    max-width: 70ch;
    text-align: initial;
}

@media screen and (max-width: 400px) {
    .page-section {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        padding: 1rem;
        max-width: 100vw;
        text-align: center;
    }
}